main {
	display: flex;
	align-items: stretch;
}

aside {
	min-width: 220px;
	max-width: 220px;
	padding: 20px 40px 20px 40px;
	overflow: scroll;
	height: calc(100vh - 70px);

	background-color: #eee;

	border-right: #ddd solid 1px;
}

aside h2 {
	text-align: center;
	margin: 10px 0px 30px;
	color: #333;
	font-weight: 600;
}

aside p.toc-header {
	margin-top: 10px;
	margin-left: 10px;
	font-weight: 500;
}

aside a {
	display: block;
	text-decoration: none;
	color: #555;
	margin-left: 30px;
}

aside a.current {
	color: #77f;
}

aside a.important {
	color: #f77;
}

.element-documentation {
	margin:  0px;
	padding: 0px 100px;
	flex-grow: 0;
	min-height: calc(100vh - 40px);
	background-color: #f4f4f4;
}

h1 {
	margin-left: 100px;
	max-width: 250px;
	color: #333;
}

.section-wrapper {
	margin: 10px;
	padding: 10px;
}

.important-wrapper {
	border-radius: 5px;
	border: solid 0.25px #99f;
	background-color: #eef;
	margin: 10px 40px;
}

.remark-wrapper {
	border-radius: 5px;
	border: solid 0.25px #cc9;
	background-color: #ffe;
	margin: 10px 40px;
}

p {
	margin: 0px;
}

.label {
	font-family: Helvetica;
	display: block;
	color: #777;
	font-size: 12px;
}	

.parameter-group {
	display:flex;
	align-items: stretch;
}

.parameter-modes {
	border: none;
	border-right: solid 0.5px #ccc;
	margin: 5px;
	min-width: 150px;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.parameter-modes input {
	accent-color: black;
}

.parameter-name {
	min-width: 150px;
	text-align: center;
	font-weight: 500;
}

.parameter-desc {
	color: #333;
}

.mode-shown {
}

.mode-hidden {
	display: none;
}
