main {
	margin: 30px;
}

#examples {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
}

.example {
	padding: 0px 10px 10px 10px;
}

iframe {
	border-radius: 5px;
}

p {
	margin-bottom: 5px;
}
