main {
	display: flex;
	align-items: stretch;
}

aside {
	min-width: 220px;
	max-width: 220px;
	padding: 20px 40px 20px 40px;
}

aside p.toc-header {
	margin-top: 10px;
	margin-left: 10px;
	font-weight: 500;
}

aside a {
	display: block;
	text-decoration: none;
	color: #555;
}

aside a.current {
	color: black;
	font-weight: 600;
}

#content {
	margin: 20px 40px;
	max-width: 700px;
}

video {
	width: calc(100% - 40px);
	padding: 20px;
}

img {
	display: block;
	max-width: calc(100% - 40px);
	margin: 0px auto;
	padding: 20px;
}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 500;
}

